{% extends 'base.html' %}
{% block body %}
<main class="container">
    <div class="row justify-content-center my-5 py-5 align-items-center">
        <div class="col-sm-12 col-lg-7 text-center">
            <i style="font-size: 4rem;" class="fa-regular fa-circle-xmark text-danger"></i>
            <h1 class="display-3">Payment Failed!</h1>
            <p class="lead text-muted">Unfortunately, your payment for the {{ ticket.ticket_type }} Ticket has failed.</p>
            <p class="text-muted">Please try again or <span><a href="{% url 'contact' %}" class="hover-underline text-primary">contact support</a></span> if the issue persists.</p>
            <a href="{% url 'cart' slug=event.slug pk=event.pk %}" class="btn btn-primary px-5 rounded-4 btn-lg">Retry Payment</a>
        </div>
    </div>
</main>
{% endblock %}