<div class="modal fade" id="buyTicketModal" tabindex="-1" aria-labelledby="buyTicketModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="buyTicketModalLabel"><i class="fa-solid fa-ticket me-2"></i> Buy {{ event.name }} Ticket</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        <div class="modal-body">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-8 col-lg-12">
                        <form method="POST" action="{% url 'new_ticket' %}">
                            {% csrf_token %}
                            <div class="form-floating">
                                <input type="text" class="form-control" name="first_name" placeholder="First Name">
                                <label for="first_name">First Name</label>
                            </div>
                            <div class="form-floating my-3">
                                <input type="text" class="form-control" name="last_name" placeholder="Last Name">
                                <label for="last_name">Last Name</label>
                            </div>
                            <div class="form-floating">
                                <input type="email" class="form-control" name="email" placeholder="Email">
                                <label for="first_name">Email</label>
                            </div>
                            <div class="form-floating my-3">
                                <input type="tel" class="form-control" name="phone_number" placeholder="Phone Number">
                                <label for="phone_number">Phone Number</label>
                            </div>
                            <div class="form-floating my-3">
                                <input type="email" class="form-control" name="email" placeholder="Email">
                                <label for="first_name">Email</label>
                            </div>
                            <select class="form-select mb-3" aria-label="Select number of ticket(s)">
                                <option selected>Select number of ticket(s)</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                <option value="4">Four</option>
                                <option value="5">Five</option>
                                <option value="10">Ten</option>
                                <option value="15">Fifteen</option>
                                <option value="20">Twenty</option>
                            </select>
                            <a href="{% url 'view_ticket' pk=1 ticket_number='h7KC66tas' %}" class="w-100 btn btn-primary btn-lg">Pay now</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>