<a href="{{ event.get_url }}" class="no-link">
    <div class="bg-white hover-shadow" style="border-radius: 10px">
        <div style="position: relative;">
            <img src="{{ event.poster }}" alt="{{ event.name }}'s Poster" style="height: 200px; width: 100%; object-fit: cover; border-radius: 10px 10px 0 0;" class="mb-2">
            <small 
                style="
                position: absolute; 
                top: 10px; 
                left: 10px; 
                background-color: #ffffff; 
                color: #1f2041;
                padding: 3px 7px;
                border-radius: 6px;
                font-size: 12px;
                z-index: 2;
                ">
                {% if event.get_ticket_price %}
                {{ event.get_ticket_price }} Ksh
                {% else %}
                {{ event.get_category_name }}
                {% endif %}
            </small>
        </div>
        <div class="d-flex mt-2 flex-row gap-3 px-3 pb-3 align-items-start">
            <div class="text-center">
                <small class="primary fw-300"> {{ event.date|date:"M" }}</small>
                <p class="text-dark fw-600 fw-500"> {{ event.date|date:"j" }}</p>
            </div>
            <div>
                <h6 class="primary fw-400 hover-underline">{{ event.name }}</h6>
                <small class="text-sm text-muted small fw-300 hover-underline">{{ event.venue }}, {{ event.location }}</small>
            </div>
        </div>
    </div>
</a>
