<div class="border p-3 bg-light" style="border-radius: 24px; padding: 8px; position: relative;">
    <!-- Event Poster with Category Overlay -->
    <div style="position: relative;">
        <img src="{{ event.poster }}" alt="Event Poster" style="height: 200px; width: 100%; object-fit: cover; border-radius: 16px;" class="mb-2">
        
        <!-- Event Category (Overlay on Top Right) -->
        <small 
            style="
            position: absolute; 
            top: 10px; 
            right: 10px; 
            background-color: #c4c6ff; 
            color: #1f2041;
            padding: 3px 7px;
            border-radius: 8px;
            font-size: 10px;
            z-index: 2;
            ">
            {{ event.get_category_name }}
        </small>
    </div>

    <!-- Event Details -->
    <div class="d-flex mt-2 flex-column">
        <h4 class="primary fw-bold mb-1">{{ event.name }}</h4>

        <!-- Date -->
        <p class="text-muted mb-1 small fw-500">
            <i class="fa-regular fa-calendar"></i> {{ event.date }}
        </p>

        <!-- Location -->
        <p class="text-muted small mb-2 fw-300 event-date">
            <i class="fa-solid fa-location-dot"></i> {{ event.location }} - {{ event.venue }}
        </p>

        <!-- Buy Ticket Button -->
        <a href="{{ event.get_url }}" class="btn btn-primary mt-2 w-100" style="border-radius: 16px;">
            Buy Ticket <i style="font-size: 1rem;" class="fa-solid fa-chevron-right ms-2"></i>
        </a>
    </div>
</div>
