{% extends 'base.html' %}
{% block body %}
<main class="container">
    <div class="row justify-content-center my-5 py-5 align-items-center">
        <div class="col-sm-12 col-lg-7 text-center pending-container">
            <i style="font-size: 4rem;" class="fa-solid fa-spinner text-danger fa-spin"></i>
            <h1>Your payment is being processed.</h1>
            <small class="text-muted">Thank you for your purchase. We are processing your payment for ticket number: <strong>{{ ticket_number }}</strong>. A prompt will appear on your phone requesting you to confirm the transaction by providing your MPESA PIN.</small>
            <small class="text-muted">Once completed, you will receive the confirmation SMS for this transaction.</small>
        </div>
    </div>
</main>

<script>
    const ticketNumber = "{{ ticket_number }}";
    const url = `/s/check-payment-status/${ticketNumber}/`;

    function checkPaymentStatus() {
        fetch(url, {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === "success") {
                // Redirect to the payment success page
                window.location.href = `/payment-success/${ticketNumber}/`;
            } else if (data.status === "failed") {
                // Redirect to the payment failed page
                window.location.href = `/payment-failed/${ticketNumber}/`;
            }
        })
        .catch(error => console.error('Error checking payment status:', error));
    }

    // Check payment status every 5 seconds
    setInterval(checkPaymentStatus, 5000);
</script>

{% endblock %}
