* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.mustard{
    color: #ffc857;
}
.primary{
    color: #1f2041;
}
.primary-hover{
    color: #45477e;
}
.disabled{
    color: #888be1;
}
html {
    scroll-behavior: smooth;
    font-size: 15px;
}
.no-btn{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
#eventsHeader{
    height: 45vh;
    width: 100%;
    padding: 3rem;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.events-overflow {
    overflow-x: auto; 
    white-space: nowrap;
    padding: 0.5rem 0;
}

.events-overflow .col-lg-4 {
    display: inline-block;
    vertical-align: top;
}
.back-btn {
    margin: -1.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.back-btn i {
    transition: transform 0.3s ease-in-out;
}

.back-btn:hover i{
    transform: scale(1.2);
    background-color: none;
    transition: transform 0.3s ease-in-out;
}
.hover{
    cursor: pointer;
}
.hover:hover{
    cursor: pointer;
}

.form-check-input:checked + .form-check-label {
    color: #007bff;
}
.fw-300{
    font-weight: 300;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}
.add-ticket{
    background-color: rgb(112, 183, 112);
    padding-left: .8rem;
    padding-right: .8rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    color: #fff;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: none;
}
.remove-ticket{
    align-items: center;
    padding-left: .9rem;
    padding-right: .9rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    justify-content: center;
    display: flex;
    background-color: rgb(226, 94, 94);
    color: #fff;
    border-radius: 50px;
    border: none;
}
.quantity{
    font-size: 1.5rem;
}
.bg-muted{
    background-color: #626262bf;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.is-invalid {
    border-color: red;
}

.is-invalid ~ .invalid-feedback {
    display: block;
    color: red;
}
.bg-grey{
    background-color: #c8c8c8bf;
}
.text-grey{
    color: #c8c8c8bf;
}
.rounded-2{
    border-radius: 8px !important;
}
.rounded-3{
    border-radius: 12px !important;
}
.rounded-4{
    border-radius: 20px !important;
}
.rounded-5{
    border-radius: 24px !important;
}
.rounded-pill{
    border-radius: 28px !important;
}
.small{
    font-size: .6rem;
}
.alert-error{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f8d7da;
}
.display-1{
    font-size: 5rem !important;
}
.display-2{
    font-size: 4.5rem !important;
}
.display-3{
    font-size: 4rem !important;
}
.display-4{
    font-size: 3.5rem !important;
}
.display-5{
    font-size: 3rem !important;
}
.display-6{
    font-size: 2.5rem !important;
}
