{% extends 'base.html' %}
{% block body %}
{% load custom_filters %}
<div class="container px-4 mb-5 p-lg-0">
    <div class="row justify-content-center align-items-start my-2">
        <div class="col-sm-12 col-lg-5">
            <div class="text-center mb-4 mt-3">
                <i style="font-size: 4rem;" class="fa-regular fa-circle-check text-success"></i>
                <h1 class="fw-300 mt-3 text-center">Your purchase is successful.</h1>
                <p class="text-muted text-center"><span><a href="{{ ticket.pdf_ticket.url }}" download class="text-primary">Download</a></span> my E-Ticket as a PDF</p>
            </div>
            <div class="rounded-4 border bg-white px-4 py-4">
                <h3 class="mb-0">{{ event.name }}</h3>
                <p class="text-muted"><i class="fa-solid fa-location-dot me-2"></i> {{ event.venue }}, {{ event.location }}</p>
                <hr class="text-muted">
                <div class="d-flex flex-wrap justify-content-betwwen align-items-start">
                    <div class="col-6">
                        <p class="small my-0 text-muted fw-300">Name</p>
                        <h5>{{ ticket.first_name }} {{ ticket.last_name }}</h5>
                    </div>
                    <div class="col-6">
                        <p class="small my-0 text-muted fw-300">Phone Number</p>
                        <h5>{{ ticket.get_phone_number }}</h5>
                    </div>
                    <div class="col-12 mt-3">
                        <p class="small my-0 text-muted fw-300">Email</p>
                        <h5>{{ ticket.get_email }}</h5>
                    </div>
                </div>
                <hr class="text-muted">
                <div class="d-flex mt-4 flex-wrap justify-content-betwwen align-items-start">
                    <div class="col-6">
                        <p class="small mb-0 text-muted fw-300">Ticket type</p>
                        <h5>{{ ticket.ticket_type }}</h5>
                    </div>
                    <div class="col-6">
                        <p class="small my-0 text-muted fw-300">Ticket(s)</p>
                        <h5>{{ ticket.num_tickets }}</h5>
                    </div>
                    <div class="col-6">
                        <p class="small mb-0 text-muted fw-300">Ticket Number</p>
                        <h5>{{ ticket.ticket_number|slice:8 }}</h5>
                    </div>
                    <div class="col-6">
                        <p class="small my-0 text-muted fw-300">Paid</p>
                        <h5>Ksh {{ ticket.amount|custom_intcomma }}</h5>
                    </div>
                </div>
                <hr class="text-muted">
                <div class="d-flex mt-4 flex-wrap justify-content-betwwen align-items-start">
                    <div class="col-6">
                        <p class="small mb-0 text-muted fw-300">Date</p>
                        <h5>{{ event.date }}</h5>
                    </div>
                    <div class="col-6">
                        <p class="small mb-0 text-muted fw-300">Time</p>
                        <h5>{{ event.start_time }} - {{ event.end_time }}</h5>
                    </div>
                </div>
                <hr class="text-muted">
                <p class="small mb-0 text-muted text-center">Show the QR Code at the entrance</p>
                <div class="d-flex justify-content-center my-3">
                    <img src="{{ ticket.qr.url }}" alt="" style="height: 230px; width: auto; object-fit: cover" class="img-fluid">
                </div>
            </div>
            <a href="{{ event.get_url }}" class="btn mt-3 btn-primary w-100 rounded-4 btn-lg">See event details</a>
        </div>
    </div>
</div>
{% include 'modals/share_event.html' %}
{% endblock %}
