{% extends 'base.html' %}
{% block body %}
{% load custom_filters %}
<div class="container px-4 my-5 p-lg-0">
    <div class="row justify-content-center align-items-start my-2">
        <div class="col-sm-12 col-lg-5">
            <div class="text-center mb-4">
                <i style="font-size: 4rem;" class="fa-regular fa-circle-check text-success"></i>
                <h1 class="fw-300 mt-3 text-center">Thank you for the purchase!</h1>
                <p class="text-muted text-center">Hey {{ ticket.first_name }}, here's your ticket for <strong>{{ ticket.event.name }}.</strong> We've sent a copy of the ticket to the email you provided.</p>
            </div>
            <div class="border bg-white pb-4" style="border-radius: 0 0 20px 20px;">
                <img src="{{ ticket.event.poster }}" alt="{{ ticket.event.name }}'s Poster" style="height: auto; width: 100%; object-fit: cover;">
                <div class="px-4">
                    <h3 class="my-3">{{ ticket.event.name }}</h3>
                    <h6 class="text-muted mb-3"><i class="fa-solid fa-location-dot me-2"></i> {{ ticket.event.venue }}, {{ ticket.event.location }}</h6>
                    <p class="text-muted" style="font-size: .9rem">Hosted by {{ ticket.event.host }}, {{ ticket.event.event_description }}</p>
                    <hr class="text-muted">
                    <div class="d-flex flex-wrap justify-content-betwwen align-items-start">
                        <div class="col-12">
                            <p class="small my-0 text-muted fw-300">Name</p>
                            <h5>{{ ticket.get_fullname }}</h5>
                        </div>
                        <div class="col-12 my-3">
                            <p class="small my-0 text-muted fw-300">Phone Number</p>
                            <h5>{{ ticket.get_phone_number }}</h5>
                        </div>
                        <div class="col-12">
                            <p class="small my-0 text-muted fw-300">Email</p>
                            <h5>{{ ticket.get_email }}</h5>
                        </div>
                    </div>
                    <hr class="text-muted">
                    <div class="d-flex mt-4 flex-wrap justify-content-betwwen align-items-start">
                        <div class="col-6">
                            <p class="small mb-0 text-muted fw-300">Ticket type</p>
                            <h5>{{ ticket.ticket_type }}</h5>
                        </div>
                        <div class="col-6">
                            <p class="small my-0 text-muted fw-300">Ticket(s)</p>
                            <h5>{{ ticket.num_tickets }}</h5>
                        </div>
                        <div class="col-12 mt-3">
                            <p class="small mb-0 text-muted fw-300">Ticket Number</p>
                            <h5>No. {{ ticket.get_reference_number }}</h5>
                        </div>
                    </div>
                    <hr class="text-muted">
                    <div class="d-flex mt-3 flex-wrap justify-content-betwwen align-items-start">
                        <div class="col-6">
                            <p class="small my-0 text-muted fw-300">Paid</p>
                            <h5>Ksh {{ ticket.amount|custom_intcomma }}</h5>
                        </div>
                        <div class="col-6">
                            <p class="small my-0 text-muted fw-300">Paid Via</p>
                            <h5>{{ ticket.get_payment_method }}</h5>
                        </div>
                        <div class="col-12 mt-3">
                            <p class="small my-0 text-muted fw-300">Transaction Code</p>
                            <h5>{{ ticket.get_transaction_code }}</h5>
                        </div>
                    </div>
                    <hr class="text-muted">
                    <div class="d-flex mt-4 flex-wrap justify-content-betwwen align-items-start">
                        <div class="col-6">
                            <p class="small mb-0 text-muted fw-300">Date</p>
                            <h5>{{ ticket.event.date }}</h5>
                        </div>
                        <div class="col-6">
                            <p class="small mb-0 text-muted fw-300">Time</p>
                            <h5>{{ ticket.event.start_time }} - {{ ticket.event.end_time }}</h5>
                        </div>
                    </div>
                    <div style="border-bottom: 2px dashed #ababab; width: 100%; margin: 2rem auto;"></div>
                    <p class="small mb-0 text-muted text-center">Show the QR Code at the entrance</p>
                    <div class="d-flex justify-content-center my-3">
                        <img src="{{ ticket.get_qr }}" alt="" style="height: 230px; width: auto; object-fit: cover" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
                <a href="{{ ticket.get_pdf_ticket }}" class="btn btn-primary w-100 rounded-4 btn-lg">Download</a>
                <div class="d-flex flex-row justify-content-center align-items-center gap-4 mt-4">
                    <a href="{{ ticket.event.get_url }}" class="link">See event details</a>
                    <button class="text-secondary no-btn" data-bs-toggle="modal" data-bs-target="#shareEvent">Share event <i style="font-size: 1rem;" class="fa-solid fa-share ms-2"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'modals/share_event.html' %}
{% endblock %}
