<div class="modal fade" id="bankModal" tabindex="-1" aria-labelledby="bankModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content border-0 shadow p-2"  style="border-radius: 18px;">
            <div class="modal-body">
                <div class="container">
                    <div class="d-flex mb-3 flex-row align-items-center justify-content-between">
                        <h5 class="modal-title" id="bankModalLabel"><i class="fa-solid fa-bank me-2"></i> Bank</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-8 col-lg-12">
                            <form >  
                                <div class="form-floating">
                                    <input type="num" class="form-control" name="card_number" placeholder="Card Number" required>
                                    <label for="card_number">Card Number</label>
                                </div>
                                <div class="row justify-content-between align-items-center my-3">
                                    <div class="col-7">
                                        <h6 class="fw-bold">CVV Number</h6>
                                        <small class="small text-muted">Enter the 3 or 4 digit number on the card</small>
                                    </div>
                                    <div class="col-5">
                                        <div class="form-floating">
                                            <input type="num" class="form-control" name="cvv_number" placeholder="CVV Number" required>
                                            <label for="cvv_number">CVV Number</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-7">
                                        <h6 class="fw-bold">Expiry date</h6>
                                        <small class="small text-muted">Enter the expiration date of the card</small>
                                    </div>
                                    <div class="col-5">
                                        <div class="form-floating">
                                            <input type="num" class="form-control" name="expiry_date" placeholder="Expiry date" required>
                                            <label for="expiry_date">Expiry date</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-floating mt-3">
                                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                                    <label for="password">Password</label>
                                </div>
                                <hr class="text-muted">
                                <div class="d-flex gap-3 flex-row align-items-center justify-content-between">
                                    <button class="btn w-100 btn-outline-secondary btn-lg rounded-3" data-bs-toggle="modal" data-bs-target="#buyTicketModal" type="button">Back</button>
                                    <button class="btn w-100 btn-primary btn-lg rounded-3">Buy now <i style="font-size: .9rem;" class="ms-2 fa-solid fa-chevron-right"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>