{% extends 'base.html' %}
{% block body %}
{% load static %}
<main class="container-fluid px-0 pb-5 mx-0">
    <div class="p-3 mt-1">
        <div class="col-sm-12 col-lg-5 col-xxl-2">
            <form action="{% url 'search_events' %}" method="GET" class="input-group">
                <input type="search" name="q" id="search" class="form-control" style="border-radius: 8px 0 0 8px;" placeholder="Search by artist, location or event" required>
                <input type="submit" value="Search" class="btn btn-primary" style="border-radius: 0 8px 8px 0;"/>
            </form>
        </div>
        <div class="d-flex flex-row gap-2 flex-wrap my-3">
            <div>
                <a href="{% url 'events_list' %}" class="rounded-3 px-3 btn btn-sm {% if active_category == None %}btn-primary{% else %}btn-outline-primary{% endif %}">All</a>
            </div>
            {% for category in categories %}
            <div>
                <a href="{% url 'events_list' %}?category={{ category.slug }}" class="rounded-3 px-3 btn btn-sm {% if active_category == category.slug %}btn-primary{% else %}btn-outline-primary{% endif %}">{{ category.name }}</a>
            </div>
            {% endfor %}
        </div>
        {% if num_results %}
        {% if num_results == 1 %}
        <h6 class="text-muted fw-300 mt-3">Found 1 event in <span class="fw-500">{{ events.0.location }}</span> related to <span class="fw-500">"{{ query|title }}"</span>, available for you to explore</h6>
        {% elif num_results > 1 %}
        <h6 class="text-muted fw-300 mt-3"><span class="fw-500">"{{ query|title }}"</span> has {{ num_results }} events available for you to explore</h6>
        {% elif num_results == 0 %}
        <h6 class="text-muted fw-300 mt-3"><span class="fw-500">"{{ query|title }}"</span> has 0 events for you to explore.</h6>
        {% endif %}
        <div class="row g-3 mt-1 row-cols-2 align-items-start">
            {% for event in events %}
            <div class="col-sm-6 col-lg-3 col-xl-3 col-xxl-2">
                {% include 'components/event.html' %}
            </div>
            {% empty %}
            <div class="col-sm-6 col-lg-3 col-xl-3 col-xxl-2">
                <a href="{{ event.get_url }}" class="no-link">
                    <div class="bg-white hover-shadow" style="border-radius: 10px;">
                        <div class="mb-2" style="border-radius: 10px 10px 0 0; overflow: hidden">
                            <img src="{% static 'tikitizetu_square_thumbnail.jpg' %}" alt="Tikiti Zetu Logo" style="border-radius: 10px 10px 0 0;" class="img-fluid">
                        </div>
                        <div class="d-flex mt-2 flex-row gap-3 px-3 pb-3 align-items-start">
                            <div class="text-center">
                                <small class="fw-300">Events</small>
                                <p class="fw-600 fw-500">300+</p>
                            </div>
                            <div>
                                <h6 class="fw-400 hover-underline">No events</h6>
                                <small class="text-sm text-muted small fw-300 hover-underline">No upcoming or past events with the {{ category_name }} word</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% else %}
        {% if events|length == 1 %}
        <h6 class="text-muted fw-300 mt-3">1 event in <span class="fw-500">{{ events.0.location }}</span> related to <span class="fw-500">{{ events.0.category.name }}</span>, available for you to explore</h6>
        {% elif events|length > 1 %}
        <h6 class="text-muted fw-300 mt-3">Over {{ events|length }} upcoming events available for you to explore</h6>
        {% elif events|length == 0 %}
        <h6 class="text-muted fw-300 mt-3"><span class="fw-500">"{{ query|title }}"</span> has 0 upcoming events available for you to explore</h6>
        {% endif %}
        <div class="row g-3 mt-1 row-cols-2 align-items-start">
            {% for event in events %}
            <div class="col-sm-6 col-lg-3 col-xl-3 col-xxl-2">
                {% include 'components/event.html' %}
            </div>
            {% empty %}
            <div class="col-sm-6 col-lg-3 col-xl-3 col-xxl-2">
                <a href="{{ event.get_url }}" class="no-link">
                    <div class="bg-white hover-shadow" style="border-radius: 10px;">
                        <div class="mb-2" style="border-radius: 10px 10px 0 0; overflow: hidden">
                            <img src="{% static 'tikitizetu_square_thumbnail.jpg' %}" alt="Tikiti Zetu Logo" style="border-radius: 10px 10px 0 0;" class="img-fluid">
                        </div>
                        <div class="d-flex mt-2 flex-row gap-3 px-3 pb-3 align-items-start">
                            <div class="text-center">
                                <small class="primary fw-300">Events</small>
                                <p class="text-dark fw-600 fw-500">300+</p>
                            </div>
                            <div>
                                <h6 class="primary fw-400 hover-underline">Check out other events</h6>
                                <small class="text-sm text-muted small fw-300 hover-underline">Check out other events</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}
