{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="container-fluid px-0">
    <header class="position-relative" id="eventsHeader" style="background-image: url('{{ event.poster }}');">
        <button onclick="goBack()" class="back-btn no-btn text-white position-absolute"><i style="font-size: 3rem;" class="fa-solid fa-circle-arrow-left"></i></button>
    </header>
    <div class="container mt-5 px-4">
        <div class="row">
            <div class="col-sm-12 col-lg-8">
                <h2 class="fw-bold">{{ event.name }}</h2>
                <p class="text-muted">Hosted by {{ event.host }}, {{ event.event_description }}</p>
                <div class="d-flex my-3 flex-row flex-wrap justify-content-start">
                    <div class="col-6">
                        <p class="small mb-0 text-muted fw-300">Date</p>
                        <h5>{{ event.date }}</h5>
                    </div>
                    <div class="col-6">
                        <p class="small mb-0 text-muted fw-300">Time</p>
                        <h5>{{ event.start_time }} - {{ event.end_time }}</h5>
                    </div>
                    <div class="col-6">
                        <p class="small mb-0 text-muted fw-300">Location</p>
                        <h5>{{ event.location }}</h5>
                    </div>
                    <div class="col-6">
                        <p class="small mb-0 text-muted fw-300">Venue</p>
                        <h5>{{ event.venue }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3 mb-5">
            <div class="col-sm-12 col-lg-4">
                <a href="{% url 'cart' event.slug event.pk %}" class="btn btn-primary w-100 btn-lg rounded-pill py-3 px-5">Buy ticket</a>
            </div>
        </div>
        {% if event.map %}
        <div class="container mb-5">
            <div class="row justify-content-center">
                <hr class="text-muted mb-5">
                <div class="col-12">
                    <div class="text-center">
                        <h3 class="mb-4">Exact map location</h3>
                        <div class="map-container" style="width: 100%; max-width: 100%; height: auto;">
                            {{ event.map|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <hr class="text-muted">
        <h3 class="mb-3">Upcoming events</h3>
        <div class="d-flex flex-row gap-3 mt-3 pb-4 events-overflow">
            {% for event in upcoming_events %}
            <div class="col-sm-12 col-lg-4">
                {% include 'components/event.html' %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
