{% load static %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Meta Tags -->
<title>Tkiti Zetu — {{ title_tag }}</title>
<meta name="author" content="Tkiti Zetu" />
<meta name="description" content="{{ meta_description|safe }}" />
<meta name="keywords" content="{{ meta_keywords }}" />
<meta name="theme-color" content="#000" />
{% if meta_thumbnail %}
<meta name="image" content="https://www.tkiti.com{{ meta_thumbnail }}">
{% else %}
<meta name="image" content="https://www.tkiti.com{% static 'images/tkiti_meta_thumbnail.jpg' %}">
{% endif %}
<meta name="robots" content="index, follow">

<!-- Facebook Meta Tags -->
<meta property="og:locale" content="en_EU">
<meta property="og:type" content="website">
<meta property="og:title" content="Tkiti Zetu — {{ title_tag }}">
<meta property="og:description" content="{{ meta_description|safe }}">
<meta property="og:keywords" content="{{ meta_keywords }}">
<meta property="og:site_name" content="Tkiti Zetu">
{% if meta_thumbnail %}
<meta property="og:image" content="https://www.tkiti.com{{ meta_thumbnail }}">
{% else %}
<meta property="og:image" content="https://www.tkiti.com{% static 'images/tkiti_meta_thumbnail.jpg' %}">
{% endif %}
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Tkiti Zetu — {{ title_tag }}">
<meta name="twitter:description" content="{{ meta_description|safe }}">
{% if meta_thumbnail %}
<meta name="twitter:image" content="https://www.tkiti.com{{ meta_thumbnail }}">
{% else %}
<meta name="twitter:image" content="https://www.tkiti.com{% static 'images/tkiti_meta_thumbnail.jpg' %}">
{% endif %}
<meta name="twitter:image:width" content="1200">
<meta name="twitter:image:height" content="630">
<meta name="twitter:site" content="tkiti.com">
<meta name="twitter:creator" content="@tkiti.com">

<!-- LinkedIn Meta Tags -->
{% if meta_thumbnail %}
<meta property="og:image" content="https://www.tkiti.com{{ meta_thumbnail }}">
{% else %}
<meta property="og:image" content="https://www.tkiti.com{% static 'images/tkiti_meta_thumbnail.jpg' %}">
{% endif %}
<meta property="og:image:alt" content="{{ meta_description|safe }}">
<meta property="linkedin:site" content="https://www.linkedin.com/company/tkiti.com/">

<!-- Favicons -->
<link rel="icon" type="image/x-icon" href="{% static 'images/logo/favicon.ico' %}"/>
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/logo/apple-touch-icon.png' %}"/>
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/logo/favicon-32x32.png' %}"/>
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/logo/favicon-16x16.png' %}"/>
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/logo/android-chrome-512x512.png' %}"/>
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/logo/android-chrome-192x192.png' %}"/>

<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>

<!-- FONT AWESOME -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

<!-- MAIN FONT -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Gloock&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,900&display=swap" rel="stylesheet"/>

<!-- MAIN CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>