{% extends 'base.html' %}
{% block body %}
<div class="container-fluid px-0 mx-0">
    <header id="eventsHeader" style="background-image: url(https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
        <div class="row justify-content-center mt-5">
            <div class="col-sm-12 col-lg-6">
                <h1 class="fw-bold mt-4 text-white text-center">Welcome to Tkiti Zetu!</h1>
                <form action="{% url 'search_events' %}" method="GET" class="d-flex flex-column flex-sm-row w-100 gap-2">
                    <input type="search" name="q" id="search" class="form-control form-control-lg" placeholder="Search event, concert & festival" required>
                    <input type="submit" value="Search" class="btn btn-light px-4"/>
                </form>
            </div>
        </div>
    </header>
    <div class="container p-4">
        <h1 class="mt-5 fw-bold">Featured events</h1>
        <p class="text-muted lead">Discover and book tickets for the best events happening around you. Don't miss out on the excitement!</p>
        <div class="d-flex flex-row flex-wrap gap-2 mt-5 mb-2">
            <a href="{% url 'events_list' %}" class="category-btn px-3 rounded-4 px-3 py-2 {% if active_category == category.slug %}bg-primary text-white{% endif %}">All</a>
            {% for category in categories %}
            <a class="category-btn rounded-4 px-3 py-2 {% if active_category == category.slug %}bg-primary text-white{% endif %}" href="{% url 'events_list' %}?category={{ category.slug }}">{{ category.name }}</a>
            {% endfor %}
        </div>
        <div class="row py-3 gx-2 gy-4 align-items-start">
            {% for event in events %}
            <div class="col-sm-12 col-lg-4">
                {% include 'components/event.html' %}
            </div>
            {% empty %}
            <div class="col-sm-12 col-lg-4">
                <div class="border rounded-4 p-3 bg-light">
                    <img src="https://images.pexels.com/photos/1190297/pexels-photo-1190297.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" style="height: 200px; width: 100%; object-fit: cover" class="rounded-4 img-fluid">
                    <div class="d-flex flex-column">
                        <h5 class="my-2">No {{ category_name }} events</h5>
                        <p class="my-0 text-muted"></p>
                        <p class="mb-0 text-muted fw-300">We don't have any {{ category_name }} events coming up, try other events.</p>
                        <a href="{% url 'events_list' %}" class="w-100 btn mt-2 btn-primary px-4 rounded-pill">All events</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
