{% extends 'base.html' %}
{% block body %}
{% load static %}
<header class="bg-primary py-5 px-3">
    <div class="container-fluid px-0">
        <div class="row align-items-center justify-content-between gy-4">
            <div class="col-sm-12 col-lg-6">
                <h1 class="display-4 mb-0 text-white fw-bold">Get Your Tickets Hassle-Free!</h1>
                <p class="lead text-white">Discover and book tickets for the hottest events in Kenya.</p>
                <div class="d-flex flex-row mb-2 gap-2">
                    <a href="#" class="btn text-primary btn-light">Browse Events</a>
                    <a href="#" class="btn btn-outline-light">Sell Tickets</a>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <picture>
                    <source media="(min-width: 1200px)" srcset="{% static 'images/tickets-1200px.png' %}">
                    <source media="(min-width: 992px)" srcset="{% static 'images/tickets-992px.png' %}">
                    <source media="(min-width: 576px)" srcset="{% static 'images/tickets-576px.png' %}">
                    <img src="{% static 'images/tickets-576px.png' %}" alt="Tickets Image" loading="lazy" class="img-fluid rounded-2 mt-4">
                </picture>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid px-0 pb-5 mx-0">
    <div class="p-3">
        <div class="d-flex flex-row gap-2 flex-wrap my-3">
            <div>
                <a href="{% url 'events_list' %}" class="rounded-3 px-3 btn btn-sm {% if active_category == None %}btn-primary{% else %}btn-outline-secondary{% endif %}">All</a>
            </div>
            {% for category in categories %}
            <div>
                <a href="{% url 'events_list' %}?category={{ category.slug }}" class="rounded-3 px-3 btn btn-sm {% if active_category == category.slug %}btn-primary{% else %}btn-outline-secondary{% endif %}">{{ category.name }}</a>
            </div>
            {% endfor %}
        </div>
        <div class="col-sm-12 col-lg-5 col-xxl-2">
            <form action="{% url 'search_events' %}" method="GET" class="input-group">
                <input type="search" name="q" id="search" class="form-control" style="border-radius: 8px 0 0 8px;" placeholder="Search by artist, location or event" required>
                <input type="submit" value="Search" class="btn btn-primary" style="border-radius: 0 8px 8px 0;"/>
            </form>
        </div>
        {% if num_results %}
        {% if num_results == 1 %}
        <h6 class="text-muted fw-300 mt-3">Found 1 event in <span class="fw-500">{{ events.0.location }}</span> related to <span class="fw-500">"{{ query|title }}"</span>, available for you to explore</h6>
        {% elif num_results > 1 %}
        <h6 class="text-muted fw-300 mt-3"><span class="fw-500">"{{ query|title }}"</span> has {{ num_results }} events available for you to explore</h6>
        {% elif num_results == 0 %}
        <h6 class="text-muted fw-300 mt-3"><span class="fw-500">"{{ query|title }}"</span> has 0 events for you to explore.</h6>
        {% endif %}
        <div class="row g-3 mt-1 row-cols-2 align-items-start">
            {% for event in events %}
            <div class="col-sm-6 col-lg-3 col-xxl-2">
                {% include 'components/event.html' %}
            </div>
            {% empty %}
            <div class="col-sm-6 col-lg-3 col-xxl-2">
                <a href="{{ event.get_url }}" class="no-link">
                    <div class="bg-white hover-shadow" style="border-radius: 10px; overflow: hidden">
                        <div style="position: relative;">
                            <img src="https://images.pexels.com/photos/1190297/pexels-photo-1190297.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Concert Stage" style="height: 200px; width: 100%; object-fit: cover; border-radius: 10px 10px 0 0;" class="mb-2">
                            <small 
                                style="
                                position: absolute; 
                                top: 10px; 
                                left: 10px; 
                                background-color: #ffffff; 
                                color: #1f2041;
                                padding: 3px 7px;
                                border-radius: 6px;
                                font-size: 12px;
                                z-index: 2;
                                ">
                                All
                            </small>
                        </div>
                        <div class="d-flex mt-2 flex-row gap-3 px-3 pb-3 align-items-start">
                            <div class="text-center">
                                <small class="primary fw-300"> Events</small>
                                <p class="text-dark fw-600 fw-500"> 300+</p>
                            </div>
                            <div>
                                <h6 class="primary fw-400 hover-underline">Check out other events</h6>
                                <small class="text-sm text-muted small fw-300 hover-underline">No upcoming or past events with the {{ category_name }} word</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% else %}
        {% if events|length == 1 %}
        <h6 class="text-muted fw-300 mt-3">1 event in <span class="fw-500">{{ events.0.location }}</span> related to <span class="fw-500">{{ events.0.category.name }}</span>, available for you to explore</h6>
        {% elif events|length > 1 %}
        <h6 class="text-muted fw-300 mt-3">Over {{ events|length }} upcoming events available for you to explore</h6>
        {% elif events|length == 0 %}
        <h6 class="text-muted fw-300 mt-3"><span class="fw-500">"{{ query|title }}"</span> has 0 upcoming events available for you to explore</h6>
        {% endif %}
        <div class="row g-3 mt-1 row-cols-2 align-items-start">
            {% for event in events %}
            <div class="col-sm-6 col-lg-3 col-xxl-2">
                {% include 'components/event.html' %}
            </div>
            {% empty %}
            <div class="col-sm-6 col-lg-3 col-xxl-2">
                <a href="{{ event.get_url }}" class="no-link">
                    <div class="bg-white hover-shadow" style="border-radius: 10px; overflow: hidden">
                        <div style="position: relative;">
                            <img src="https://images.pexels.com/photos/1190297/pexels-photo-1190297.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Concert Stage" style="height: 200px; width: 100%; object-fit: cover; border-radius: 10px 10px 0 0;" class="mb-2">
                            <small 
                                style="
                                position: absolute; 
                                top: 10px; 
                                left: 10px; 
                                background-color: #ffffff; 
                                color: #1f2041;
                                padding: 3px 7px;
                                border-radius: 6px;
                                font-size: 12px;
                                z-index: 2;
                                ">
                                All
                            </small>
                        </div>
                        <div class="d-flex mt-2 flex-row gap-3 px-3 pb-3 align-items-start">
                            <div class="text-center">
                                <small class="primary fw-300"> Events</small>
                                <p class="text-dark fw-600 fw-500"> 300+</p>
                            </div>
                            <div>
                                <h6 class="primary fw-400 hover-underline">Check other events</h6>
                                <small class="text-sm text-muted small fw-300 hover-underline">No upcoming or past events.</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="bg-secondary p-4 rounded-4 mt-5">
            <div class="justify-content-evenly align-items-center row gy-4">
                <div class="col-sm-12 col-lg-5 text-white">
                    <h2>Secure & Reliable</h2>
                    <p class="lead my-0">We Handle the Tickets, You Focus on the Event!</p>
                    <button class="btn btn-light text-secondary btn-lg px-3 mt-3">Start Selling</button>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <img src="{% static 'images/undraw_secure-server_lz9x.svg' %}" class="img-fluid" alt="...">
                </div>
            </div>
        </div>
        <section class="container my-5">
            <h2 class="text-center text-muted fw-bold">Why Tikiti Zetu?</h2>
            <div class="row justify-content-center mt-4 g-4">
                <div class="col-sm-12 col-md-5 text-center">
                    <div class=" p-3 rounded-4 bg-white">
                        <h1>🔒</h1>
                        <h4 class="text-muted">Secure Payments</h4>
                        <p class="text-black-50">Pay safely with M-Pesa, Visa & more.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-5 text-center">
                    <div class=" p-3 rounded-4 bg-white">
                        <h1>🎟️</h1>
                        <h4 class="text-muted">Instant Tickets</h4>
                        <p class="text-black-50">Get your ticket immediately after payment.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-5 text-center">
                    <div class=" p-3 rounded-4 bg-white">
                        <h1>✅</h1>
                        <h4 class="text-muted">Verified Events</h4>
                        <p class="text-black-50">Only real, trusted events.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-5 text-center">
                    <div class=" p-3 rounded-4 bg-white">
                        <h1>💰</h1>
                        <h4 class="text-muted">Affordable Pricing</h4>
                        <p class="text-black-50">Great deals & early bird discounts.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="container my-5 pt-5 text-center">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-lg-7">
                    <h2 class="fw-bold text-muted">About Tikiti Zetu</h2>
                    <p class="text-muted">We are Kenya’s top event ticketing platform, making ticketing easy and secure. From concerts to festivals, we connect you to the best events.</p>
                </div>
            </div>
        </section>

    </div>
</div>
{% endblock %}
