{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="container-fluid px-0">
    <header class="bg-primary py-5 px-3">
        <div class="row pt-5 align-items-center justify-content-center gy-4">
            <div class="col-sm-12 col-lg-7 text-center">
                <h1 class="display-4 mb-0 text-white fw-bold">{{ homepage.hero_h1 }}</h1>
                <p class="lead text-white my-4">{{ homepage.hero_paragraph }}</p>
                <div class="d-flex flex-row mb-2 justify-content-center gap-2">
                    <a href="{% url 'events_list' %}" class="btn text-primary btn-light">{{ homepage.hero_primary_btn }}</a>
                    <a href="#!" class="btn btn-outline-light">{{ homepage.hero_secondary_btn }}</a>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12 text-center">
                <picture>
                    <source media="(min-width: 1200px)" srcset="{{ homepage.hero_image_1200.url }}">
                    <source media="(min-width: 992px)" srcset="{{ homepage.hero_image_992.url }}">
                    <source media="(min-width: 576px)" srcset="{{ homepage.hero_image_576.url }}">
                    <img src="{{ homepage.hero_image_576.url }}" alt="Tickets Image" loading="lazy" class="img-fluid rounded-2 mt-4">
                </picture>
            </div>
        </div>
    </header>
    <div class="container-fluid px-4">
        <div class="row justify-content-center align-items-center gy-4 my-5">
            <div class="col-sm-12 col-lg-5 col-xl-4">
                <h1>{{ homepage.step_1_title }}</h1>
                <p class="lead text-muted">{{ homepage.step_1_paragraph }}</p>
                <a href="{% url 'events_list' %}" class="hover-underline text-primary">Check out more events <i class="ms-2 fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-5 text-center">
                <picture>
                    <source media="(min-width: 1200px)" srcset="{{ homepage.step_1_image_1200.url }}">
                    <source media="(min-width: 992px)" srcset="{{ homepage.step_1_image_992.url }}">
                    <source media="(min-width: 576px)" srcset="{{ homepage.step_1_image_576.url }}">
                    <img src="{{ homepage.step_1_image_576.url }}" alt="{{ homepage.step_1_title }} Image" loading="lazy" class="img-fluid rounded-2 mt-4">
                </picture>
            </div>
        </div>
        <div class="row justify-content-around align-items-center gy-4 mb-5">
            <div class="col-sm-12 col-lg-5 order-lg-2">
                <h1>{{ homepage.step_2_title }}</h1>
                <p class="lead text-muted">{{ homepage.step_2_paragraph }}</p>
            </div>
            <div class="col-sm-5 col-lg-3 order-lg-1 text-center">
                <picture>
                    <source media="(min-width: 1200px)" srcset="{{ homepage.step_2_image_1200.url }}">
                    <source media="(min-width: 992px)" srcset="{{ homepage.step_2_image_992.url }}">
                    <source media="(min-width: 576px)" srcset="{{ homepage.step_2_image_576.url }}">
                    <img src="{{ homepage.step_2_image_576.url }}" alt="{{ homepage.step_2_title }} Image" loading="lazy" class="img-fluid rounded-2 mt-4">
                </picture>
            </div>
        </div>
        <div class="row justify-content-around align-items-center gy-4 mb-5">
            <div class="col-sm-12 col-lg-6 col-xl-4">
                <h1>{{ homepage.step_3_title }}</h1>
                <p class="lead text-muted">{{ homepage.step_3_paragraph }}</p>
            </div>
            <div class="col-sm-12 col-lg-5">
                <picture>
                    <source media="(min-width: 1200px)" srcset="{{ homepage.step_3_image_1200.url }}">
                    <source media="(min-width: 992px)" srcset="{{ homepage.step_3_image_992.url }}">
                    <source media="(min-width: 576px)" srcset="{{ homepage.step_3_image_576.url }}">
                    <img src="{{ homepage.step_3_image_576.url }}" alt="{{ homepage.step_3_title }} Image" loading="lazy" class="img-fluid rounded-2 mt-4">
                </picture>
            </div>
        </div>
        <div class="px-lg-4 pt-5">
            <h3 class="mt-3">{{ homepage.events_title }}</h3>
            <div class="d-flex flex-row gap-2 flex-wrap mb-3">
                <div>
                    <a href="{% url 'events_list' %}" class="rounded-3 px-3 btn btn-sm {% if active_category == None %}btn-primary{% else %}btn-outline-primary{% endif %}">All</a>
                </div>
                {% for category in categories %}
                <div>
                    <a href="{% url 'events_list' %}?category={{ category.slug }}" class="rounded-3 px-3 btn btn-sm {% if active_category == category.slug %}btn-primary{% else %}btn-outline-primary{% endif %}">{{ category.name }}</a>
                </div>
                {% endfor %}
            </div>
            <div class="col-sm-12 col-lg-5 col-xxl-2">
                <form action="{% url 'search_events' %}" method="GET" class="input-group">
                    <input type="search" name="q" id="search" class="form-control" style="border-radius: 8px 0 0 8px;" placeholder="Search by artist, location or event" required>
                    <input type="submit" value="Search" class="btn btn-primary" style="border-radius: 0 8px 8px 0;"/>
                </form>
            </div>
            <div class="row g-3 mt-1 pb-5 row-cols-2 align-items-start">
                {% for event in events %}
                <div class="col-sm-6 col-lg-3 col-xl-3 col-xxl-2">
                    {% include 'components/event.html' %}
                </div>
                {% empty %}
                <div class="col-sm-6 col-lg-3 col-xl-3 col-xxl-2">
                    <a href="{{ event.get_url }}" class="no-link">
                        <div class="bg-white hover-shadow" style="border-radius: 10px;">
                            <div class="mb-2" style="border-radius: 10px 10px 0 0; overflow: hidden">
                                <img src="{% static 'tikitizetu_square_thumbnail.jpg' %}" alt="Tikiti Zetu Logo" style="border-radius: 10px 10px 0 0;" class="img-fluid">
                            </div>
                            <div class="d-flex mt-2 flex-row gap-3 px-3 pb-3 align-items-start">
                                <div class="text-center">
                                    <small class="fw-300">Events</small>
                                    <p class="fw-600 fw-500">300+</p>
                                </div>
                                <div>
                                    <h6 class="fw-400 hover-underline">Check out other events</h6>
                                    <small class="text-sm text-muted small fw-300 hover-underline">No upcoming or past events with the {{ category_name }} word</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
                <div class="col-sm-6 col-lg-3 col-xl-3 col-xxl-2">
                    <a href="{% url 'events_list' %}" class="no-link">
                        <div class="bg-white hover-shadow" style="border-radius: 10px;">
                            <div class="mb-2" style="border-radius: 10px 10px 0 0; overflow: hidden">
                                <img src="{% static 'tikitizetu_square_thumbnail.jpg' %}" alt="Tikiti Zetu Logo" style="border-radius: 10px 10px 0 0;" class="img-fluid">
                            </div>
                            <div class="d-flex mt-2 flex-row gap-3 px-3 pb-3 align-items-start">
                                <div class="text-center">
                                    <small class="primary fw-300">Events</small>
                                    <p class="text-dark fw-600 fw-500">300+</p>
                                </div>
                                <div>
                                    <h6 class="primary fw-400 hover-underline">Many more events here</h6>
                                    <small class="text-sm text-muted small fw-300 hover-underline">Explore other events</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="my-5 py-5">
                <h2 class="text-start display-5 fw-500">{{ homepage.why_choose_us }}</h2>
                <div class="row justify-content-center mt-4 gy-5 gx-3 mb-5 pb-5">
                    <div class="col-sm-12 col-lg-3">
                        <i class="{{ homepage.reason_1_icon }}"></i>
                        <h5 class="fw-300 mt-3">{{ homepage.reason_1_title }}</h5>
                        <p class="text-muted fw-300">{{ homepage.reason_1_paragraph }}</p>
                    </div>
                    <div class="col-sm-12 col-lg-3">
                        <i class="{{ homepage.reason_2_icon }}"></i>
                        <h5 class="fw-300 mt-3">{{ homepage.reason_2_title }}</h5>
                        <p class="text-muted fw-300">{{ homepage.reason_2_paragraph }}</p>
                    </div>
                    <div class="col-sm-12 col-lg-3">
                        <i class="{{ homepage.reason_3_icon }}"></i>
                        <h5 class="fw-300 mt-3">{{ homepage.reason_3_title }}</h5>
                        <p class="text-muted fw-300">{{ homepage.reason_3_paragraph }}</p>
                    </div>
                    <div class="col-sm-12 col-lg-3">
                        <i class="{{ homepage.reason_4_icon }}"></i>
                        <h5 class="fw-300 mt-3">{{ homepage.reason_4_title }}</h5>
                        <p class="text-muted fw-300">{{ homepage.reason_4_paragraph }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-primary container-fluid my-5">
        <div class="px-3 py-5 gy-4 row justify-content-evenly align-items-center">
            <div class="col-sm-12 col-lg-3 d-none d-lg-block pb-4">
                <picture>
                    <source media="(min-width: 1200px)" srcset="{{ homepage.sell_tickets_banner_image_1200.url }}">
                    <source media="(min-width: 992px)" srcset="{{ homepage.sell_tickets_banner_image_992.url }}">
                    <source media="(min-width: 576px)" srcset="{{ homepage.sell_tickets_banner_image_576.url }}">
                    <img src="{{ homepage.sell_tickets_banner_image_576.url }}" alt="{{ homepage.sell_tickets_banner_title }} Image" loading="lazy" class="img-fluid rounded-2">
                </picture>
            </div>
            <div class="col-sm-12 col-lg-6 mb-4">
                <h1 class="display-4 text-white">{{ homepage.sell_tickets_banner_title }}</h1>
                <p class="lead text-white fw-300 mb-4 mt-3">{{ homepage.sell_tickets_banner_paragraph }}</p>
                <div class="col-sm-12 col-lg-6 mb-4">
                    <button class="btn btn-light w-100 text-primary btn-lg">{{ homepage.sell_tickets_banner_btn }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="px-lg-5 px-4 my-5 py-5">
        <h2 class="text-start fw-400 mb-5">{{ homepage.testimonials_title }}</h2>
        <div class="row g-3 align-items-start">
            {% for testimonial in testimonials %}
            <div class="col-sm-12 col-lg-4">
                <div class="bg-white rounded-4 p-4">
                    <div class="d-flex flex-row align-items-center justify-content-start gap-3">
                        <img style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%" src="{{ testimonial.get_image }}" alt="{{ testimonial.name }}'s Image" class="img-fluid">
                        <div class="d-flex flex-column gap-2">
                            <p class="my-0 fw-500">{{ testimonial.name }}</p>
                            <div class="d-flex flex-row gap-1">
                                {% for _ in ""|rjust:testimonial.stars %}
                                <i class="fa-sm fa-solid fa-star text-warning"></i>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <p class="fw-300 mb-0 small text-muted mt-3">{{ testimonial.testimonial }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="px-lg-5 px-4 pb-5 my-5">
        <div class="py-5 row justify-content-center align-items-center">
            <div class="col-sm-12 col-lg-4 col-xl-5 text-center d-none d-lg-block">
                <img src="{{ homepage.newsletter_image.url }}" alt="Newsletter" loading="lazy" class="img-fluid">
            </div>
            <div class="col-sm-12 col-lg-6">
                <h1 class="display-5">{{ homepage.newsletter_banner_title }}</h1>
                <p class="lead text-muted fw-300 mb-4 mt-3">{{ homepage.newsletter_banner_paragraph }}</p>
                <div class="col-sm-12 col-lg-5 col-xl-3 text-center">
                    <button class="btn btn-primary px-4 btn-lg w-100">{{ homepage.newsletter_banner_btn }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
